body{
    background-image:url(/shunya-koide-1emWndlDHs0-unsplash.jpg);
    background-size:35% 800px;
    background-repeat: no-repeat;
   
}

td, th {
    border: 1px solid #0c0c0c;
    text-align: left;
    padding: 8px;
    color: #000;
  }
  
  tr:nth-child(even) {
    background-color: #c2c9ca;
  }
  th {
    background-color: #0609a7;
    color: white;
  }
/* Styling for the top navigation, search box and notis icon */
.top-nav{
    display: flex;
    width: 890px;
    flex-direction: row;
    background-color: rgb(229, 230, 230);  
    vertical-align: middle;
    align-content: center; 
    margin: -9px -7px 0 470px;
    padding: 10px 10px 10px 10px;
    box-shadow: 1px 1px 1px 1px #cecece;  
}


.search-icon{
    font-size: 20px;
    margin-top: 24px;
    z-index: 1;
    color: #0609a7;
    cursor: pointer;
    margin:12px 0 0 220px;
    
}

.search-box{
    position: fixed;
    border-radius: 50px;
    width:200px;
    height:30px;
    outline: none;
    border: none;
    margin: 7px 300px 5px 40px;
    padding-left: 10px;
    box-shadow: 1px 1px 1px 1px #cecece; 
}

input::placeholder{
    text-align: left;
    font-size: 16px;
    padding: 3px;
}

.notis-bell{
    font-size: 25px;
    margin: 10px 0 0 560px;
    color: #0609a7;
    cursor: pointer;
}
.student-stat{
    display: flex;
    flex-direction: row;
    justify-content: flex-end;
    background-color:transparent;  
    vertical-align: middle;
    align-content: center; 
    margin: 20px -7px 0 -7px; 
}
.stud-stat1 {
    display: flex;
    flex-direction: column; 
    margin:0 55px 0 55px;
    width: 180px;
    height: 118px;
    padding:10px 5px 0 5px;
    background-color: #0609a7;
    border-radius: 30px;
    text-align: center;
    color:#fff;
    font-family: 'Times New Roman', Times, serif;
    font-size: 18px;
    font-weight: 500;
    box-shadow:2px 2px #a5a5a5; 
}

.stat-number {
    font-size: 20px; 
    font-weight: bold;
    color: rgb(255, 255, 255); 
}
.table{
    display: flex;
    flex-direction: row;
    justify-content:flex-end;
    background-color: transparent;
    margin: 70px 150px 0 80px;
}
.student-data{
    font-family: arial, sans-serif;
    border-collapse: collapse;
}
